<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4">
          <div class="card-header">Quiz Management</div>
          <div class="card-body">
            <p>Use this section to update the quizes using the quizes.json file. Clicking the button below will replicate
              everything that's on the json file. Make sure json formatting is correct.</p>
            <button class="btn btn-lg btn-success" id="btn-quizes" onclick="updateQuizes()">Update Quizes</button>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header"></i>User Management</div>
          <div class="card-body">
            <div class="row" id="user-list">
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/resultsModal.ejs'); %>
    <%- include('./partials/footer.ejs'); %>
  </div>
  </div>

  <script src="/js/admin.js"></script>  