<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4">
          <div class="card-header">Quiz Management</div>
          <div class="card-body">
            <p>Use this section to update the quizes using the quizes.json file. Clicking the button will replicate
              everything that's on the json file.</p>
            <div class="card bg-primary text-white mb-4">
              <div class="card-body">Update Quizes</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Start now</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
            </div>
            <!-- end quiz cards -->
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header"></i>User Management</div>
          <div class="card-body">
            <p>Use this section to reset user personality information. Upon next login they will be asked to complete
              the questionnaire again.</p>
            <div class="card bg-primary text-white mb-4">
              <div class="card-body">A user</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Start now</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
            </div>
            <!-- end quiz cards -->
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </div>
  </div>
  <script src="/js/scripts.js"></script>