<link rel="stylesheet" href="/css/style.css" />

<!-- include the navbar partial -->
<%- include('./partials/navbar.ejs'); %>

<div class="quiz-container">
  <div id="quiz"></div>
</div>

<div class="button-container">
  <button class="button-custom" id="previous">Previous Question</button>
  <button class="button-custom" id="next">Next Question</button>
  <button class="button-custom" id="submit">Submit Quiz</button>
</div>

<div id="results"></div>
<div id="feedback"></div>

<!-- include personality modal -->
<%- include('./partials/personalityModal.ejs'); %>

<!-- include quiz error modal -->
<%- include('./partials/quizErrorModal.ejs'); %>



<script src="/js/index.js"></script>
<script src="/js/alg1.js"></script>
<script src="/js/tipi.js"></script>
