<!-- <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<link rel="stylesheet" href="/css/style.css" />

<!-- include the navbar partial -->
<%- include('./partials/navbar.ejs'); %>

<div class="quiz-container">
  <div id="quiz"></div>
</div>

<div class="button-container">
  <button class="button-custom" id="previous">Previous Question</button>
  <button class="button-custom" id="next">Next Question</button>
  <button class="button-custom" id="submit">Submit Quiz</button>
</div>

<div id="results"></div>
<div id="feedback"></div>

<!-- include personality modal -->
<%- include('./partials/personalityModal.ejs'); %>

<!-- include quiz error modal -->
<%- include('./partials/quizErrorModal.ejs'); %>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>

<script src="/js/index.js"></script>
<script src="/js/alg1.js"></script>
<script src="/js/tipi.js"></script>
