<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4">
          <div class="card-header"></i>Quizes</div>
          <div class="card-body">
            <!-- start card -->
            <div class="card bg-success text-white mb-4">
              <div class="card-body">Quiz Available</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Start Quiz</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </div>
  </div>
  <script src="/js/scripts.js"></script>