<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4" id="quizesContainer">
          <div class="card-header">Quizes</div>
          <div class="card-body">
            <!-- start quiz cards -->
            <div class="row">
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                      <div class="card-body">Easy Quiz</div>
                      <div class="card-footer d-flex align-items-center justify-content-between">
                          <a class="small text-white stretched-link" href="/quizes/dashboardQuiz">Start now</a>
                          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-warning text-white mb-4">
                      <div class="card-body">Medium Quiz</div>
                      <div class="card-footer d-flex align-items-center justify-content-between">
                          <a class="small text-white stretched-link" href="/quizes/dashboardQuiz">Start now</a>
                          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-danger text-white mb-4">
                      <div class="card-body">Hard Quiz</div>
                      <div class="card-footer d-flex align-items-center justify-content-between">
                          <a class="small text-white stretched-link" href="/quizes/dashboardQuiz">Start now</a>
                          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                      </div>
                  </div>
              </div>
          </div>
            <!-- end quiz cards -->
          </div>
        </div>


      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </div>
  </div>
  <%- include('./partials/personalityModal.ejs'); %>

  <script src="/js/tipi.js"></script>