<link rel="stylesheet" href="/css/style.css">
<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4" id="quizesContainer">
          <div class="card-header">Quiz</div>
          <div class="card-body">
            <!-- start quiz cards -->
            <div class="quiz-container">
              <div id="quiz"></div>
            </div>
            <button class="btn btn-primary btn-quiz" id="previous">Previous Question</button>
            <button class="btn btn-primary btn-quiz" id="next">Next Question</button>
            <button class="btn btn-primary btn-quiz" id="submit">Submit Quiz</button>
            <div id="results"></div>
            <div id="feedback"></div>
            <!-- end quiz cards -->
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </div>
</div>
</body>
  <%- include('./partials/quizErrorModal.ejs'); %>
  
  <script src="/js/dashboardQuiz.js"></script>
  <script src="/js/alg1.js"></script>