<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4">
          <div class="card-header">Past Quizes</div>
          <div class="card-body" id="profileQuizes">
            <!-- quizes list -->
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </div>
</div>
<script src="/js/profile.js"></script>
</body>