<link rel="stylesheet" href="/css/style.css">
<body class="sb-nav-fixed">
  <%- include('./partials/navbar.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <br>
        <div class="card mb-4" id="profileQuizes">
          <div class="card-header">Past Quizes</div>
          <div class="card-body">
            <ul>
              <li>This</li>
              <li>is</li>
              <li>a</li>
              <li>test.</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </div>
</div>
  <script src="/js/dashboardQuiz.js"></script>
  <script src="/js/alg1.js"></script>
  <script src="/js/counter.js"></script>
  <%- include('./partials/quizErrorModal.ejs'); %>
</body>